# Assignment 2

# MAS DSE200

## Instructions

* The answers to the questions should be submitted on github. 
* You donâ€™t need to explain your approach (unless specified) so please be concise in your submission. 
* To obtain full marks for a question, both the answer and the code should be correct. 
* Completely wrong (or missing) code with correct answer will result in zero marks. 
* Please code the solution in the space provided.

### Imports

Import necessary packages

In [2]:
import pandas as pd
import numpy as np

## Part 1: Pandas Series and Dataframes

**1.1**: Create a Series, called bank, with a list of floats as the data and a list of names (strings) as the index. The number of entries and their values is up to you, just make it at least 3 elements. 
The idea is something like this, where the top row is the index and the bottom row is the data.<br>


<table>
 <thead>
     <th>Jim</th>
     <th>Pam</th>
     <th>Michael</th>
 </thead>
 <tbody>
     <th>100.0</th>
     <th>150.0</th>
     <th>110.0</th>     
 <tbody>

**1.2**: Double the money of everyone in the bank!

**1.3**: Let's pretend that the bank Series pertains to the checking account of these people. Let's also say we now want to give them all a savings account. 

First, let's use this Series to create a DataFrame. 
Print the DataFrame as well as its shape.

**1.4**: Now, add a new column to your dataframe. Make sure it's a list of float values that has the same length as the number of people in your original Series. Rename the columns to `checking` and `savings`

## Part 2: Occupations Dataset

Grab the dataset and store it in a Pandas dataframe called `users`

In [3]:
users = pd.read_csv('./occupations.csv')

**2.1**: Print the first 10 entries in the dataframe to see what the columns are and what some values will look like

**2.2**: Next, set the index of the dataframe to the `user_id` column, and print the first 10 elements again to ensure the change took place

**2.3**: How many samples are there in this dataset?

**2.4**: What is the *most* popular occupation according to this dataset?

**2.5**: What is the *least* popular occupation according to this dataset

**2.6**: How many zip codes exist in the dataset?

**2.7**: Find the top 100 zip codes in which the most users live. **Report these zip codes**, and then **calculate the total number of users** living in these 100 zip codes.

**2.8**: Create a new dataset, called `users_filtered`, that includes only entries of users in these top 100 zip codes. **Report the number of samples** in the original dataset and in the new dataset to ensure the desired effect took place

**hint:** Check out the Pandas Series function [isin](https://pandas.pydata.org/pandas-docs/stable/generated/pandas.Series.isin.html)

**2.9**: What is the minimum, maximum and average age of users in the top 100 zip codes?

**2.10**: How many users in the top 100 zip codes are within one standard deviation of the mean age calculated in **2.9**?

**2.11**: How many of the users found in **2.10** are female students?

## Part 3: Alcohol Consumption Dataset

In [4]:
drinks = pd.read_csv('./drinks.csv', sep=',')

**3.1**: Print the first 10 entries in the dataframe

**3.2**: What country has the highest number of beer servings, and what is thus number? What countries consume no beer?

**3.3**: What country has the highest overall alcohol consumption?<br> 
Please calculate in terms of the sum of their beer, wine and spirit servings

**3.4**: What country or countries consume(s) the least alcohol, not counting the countries that don't drink at all?<Br>
Calculate either in terms of the sum of beer, spirit and wine servings or in terms of the total litres of pure alcohol.

**3.5**: You should see from question **3.4** that there's a country that consumes spirits and not beer or wine. Are there countries that consumes beer and wine and not spirits? If so, what countries?